<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>681935307455-h94ab1tn39sjrg6j826t6fqko62d4m6f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.681935307455-h94ab1tn39sjrg6j826t6fqko62d4m6f</string>
	<key>API_KEY</key>
	<string>AIzaSyBSfF7hIQoYLh6rN6HLPLOiQTUyXirXbME</string>
	<key>GCM_SENDER_ID</key>
	<string>681935307455</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dvmFinder</string>
	<key>PROJECT_ID</key>
	<string>dvm-finder-task</string>
	<key>STORAGE_BUCKET</key>
	<string>dvm-finder-task.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:681935307455:ios:4fd5afc9df0ed7c2633c0a</string>
</dict>
</plist>